a.navbar-item{
font-size:30px;
}


#foot{
    background-color: gray;
}
.navtext{
    font-size:30px;
}

#FAQcard{
    background-color:aliceblue;
}
#FAQtitle{
    font-size:35px;
}

.Q{
    font-weight:bold;
    font-size:20px;
    list-style:none;
}
.arrowcon{
    transform:translate(0px,15px);
}
.A{
    list-style:none;
    transform:translate(30px,0px);
}

ul{
    list-style:none;
}