body {
    margin: 0;
}

a.navbar-item {
    font-size:30px;
}

.text-center { 
    text-align: center;
}

.FAQ {
    list-style:none;
}

.margin-top-el {
    margin-top: 61px;
}

.rounded-corners {
    border-radius: 20px;
    overflow: hidden;
}

.header-img {
    height: 300px;
}
   
img.rounded-corners {
    object-fit: cover;
}

.navtext{
    font-size:30px;
}

.Q  {
    font-weight:bold;
    font-size:20px;
    list-style:none;
}

.arrowcon{
    transform:translate(0px,15px);
}

.A{
    list-style:none;
    transform:translate(30px,0px);
}

#FAQlist{
    list-style:none;
}
    #foot{
    background-color: gray;
}

#FAQcard{
    background-color:aliceblue;
}

#FAQtitle{
    font-size:35px;
}
#navbarBasicExample{
    justify-content:space-around;
}

